<main class="bd-content">
  <div class="">
    <h2 class="bd-title" id="about">About</h2>
    <p class="bd-lead">Get to know the people who made this website possible.</p>
  </div>
  <h2 class="bd-title2" id="team">Team</h2>
  <p class="bd-lead bor"> A team of 3 students,Hasanth Sista, Dhanush Thirugnana, Sneha N Reddy, have worked to develop this webiste and bring together
    many products that are available.</p>
  <h2 class="bd-title2" id="products">Products</h2>
  <p class="bd-lead ">From a wide range of products, we have shortlisted few commonly bought items and used them in our project.</p>
  <ul class="bor">
    <li>Laptops</li>
    <li>Mobiles</li>
    <li>Printers</li>
    <li>Tablets</li>
    <li>Accessories</li>
  </ul>
</main>
