<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">TechStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/main']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div *ngIf="user!=null" style="color: white;">Hello {{user.username}}</div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <div *ngIf="user!=null && user.role.match('admin')" style="color: white;">
              <a routerLink="/admin">Admin Role</a>
            </div>
          </a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="search.searchElement" name="searchElement" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 " style="margin-right: .5rem!important;" type="submit" (click)="searchClick()">Search</button>

        <div *ngIf="user==null;else other">

          <button class="btn btn-outline-success my-2 my-sm-0 " style="margin-right: .5rem!important;" type="submit" (click)="loginClick()">Login</button>
        </div>
        <ng-template #other>
          <button class="btn btn-outline-success my-2 my-sm-0 " style="margin-right: .5rem!important;" type="submit" (click)="logoutClick()">Logout</button>
        </ng-template>


        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: .5rem!important;" type="submit" (click)="signUpClick()">SignUp</button>
        <a href="#" routerLink="/cart">
          <img src="https://png.icons8.com/metro/50/f39c12/shopping-cart.png">
        </a>

      </form>
    </div>
  </nav>
</header>
