<div class=row style="padding: 10px;">
  <div class="col-xl-2">
  </div>
  <div class="col-xl-10">
    <div class="row" *ngFor="let prod of product | paginate: {itemsPerPage: 3, currentPage:page, id: '1'}; let i=index">
      <div class="col-xl-3" *ngIf="prod.flag==true">
        <img src="{{prod.product_img}}">
      </div>
      <div class="col-xl-9" *ngIf="prod.flag==true">
        <table>
          <tr>
            <td class="title">Product Name</td>
            <td class="textfont">
              {{prod.product_name}}
            </td>
          </tr>

          <tr>
            <td class="title">Product Description</td>
            <td class="textfont">
              {{prod.product_desc}}
            </td>
          </tr>

          <tr>
            <td class="title">Product Price</td>
            <td class="textfont">
              <div>{{prod.product_price}}$</div>
            </td>
          </tr>
          <tr>
            <div>
              <input value="See Specifications" (click)="seeSpecs(prod.product_name)" type="button">
            </div>
          </tr>
          <tr>
            <div>
              <input value="Add to Cart" (click)="addToCart(prod)" type="button">
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="paging">
  <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>
