<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-4">
      <div class="table" style="margin-left: 20px; ">
        <ul>
          <li>
            <a style="color: white;" class="button" (click)="goToTabletsPage('laptop')">Laptops</a>
            <ul class="submenu">
              <li>
                <a style="color:white;" class="button" (click)="goToTabletsPage('apple')">Apple</a>
              </li>
              <li>
                <a style="color:white;" class="button" (click)="goToTabletsPage('asus')">Asus</a>
              </li>
              <li>
                <a style="color:white;" class="button" (click)="goToTabletsPage('dell')">Dell</a>
              </li>
            </ul>
          </li>
          <li>
            <a style="color: white;" class="button" (click)="goToTabletsPage('mobile')">Mobiles</a>
            <ul class="submenu">
              <li>
                <a style="color:white;" class="button" (click)="goToTabletsPage('iphone')">iPhone</a>
              </li>
              <li>
                <a style="color:white;" class="button" (click)="goToTabletsPage('oneplus')">One Plus</a>
              </li>
            </ul>
          </li>
          <li>
            <a style="color: white;" class="button" (click)="goToTabletsPage('printer')">Printers</a>
          </li>
          <li>
            <a style="color: white;" class="button" (click)="goToTabletsPage('tablet')">Tablets</a>
          </li>
          <li>
            <a a style="color: white;" class="button" (click)="goToTabletsPage('access')">Accessories</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-8">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner product-carousel">
          <div class="carousel-item active">
            <img class="first-slide" src="assets/images/1001.png" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-center">
                <h1 style="color:rgb(77, 46, 253); "></h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="first-slide" src="assets/images/2001.png" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <div class="carousel-caption text-center">
                  <h1 style="color:rgb(77, 46, 253); "></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="first-slide" src="assets/images/2002.png" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-center">
                <h1 style="color:rgb(77, 46, 253); "></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row product-listing" style="margin-top:20px;">
    <div class="col-lg-4">
      <img class="product-image" src="assets/images/1001.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;">Apple-Macbook Air-13.3</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('apple-macbook')" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="product-image" src="assets/images/1002.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;">Asus Zenbook</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('asus zen')" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="product-image" src="assets/images/2001.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;" >iPhone X</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('iPhone')" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <img class="product-image" src="assets/images/3001.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;">Canon Printer</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('Canon')" role="button">View details &raquo;</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img class="product-image" src="assets/images/5001.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;">Sandisk Micro SD</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('Sandisk')" role="button">View details &raquo;</a>
      </p>
    </div>


    <div class="col-lg-4">
      <img class="product-image" src="assets/images/2002.png" alt="Generic placeholder image" width="140" height="140">
      <h2 style="font-size: 100%;">OnePlus 5T</h2>
      <p>
        <a class="btn btn-secondary" (click)="goToTabletsPage('OnePlus 5T')" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <!-- /.row -->
  </div>
</div>
